<h2><%= t('single_game')%></h2>
<% if (!@categories.nil?)%>
  <div id="categories">
  <% @categories.each do |category| %>
  	 <div class = "category">
 	 <%= link_to category.title, single_play_path(category.id) %>
 	 </div>
  <% end %>
  <% end %>
  </div>
  <div id = "chat">
  <ul id = "messages">
  	<%= render(:partial => 'messages') %>
  </ul>
  <%= form_for Message.new, :remote => true do |f| %>
   <%= f.text_field :content %>
   <%= f.submit t('send') %>
  <% end %>
  </div>

  <script>
  $('form').submit(function() {  
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
    }).success(function(json){
        
    });
    return false; // prevents normal behaviour
});
  </script>