<% if @group.errors.any? %>
  <div id="error_explanation">
    
    <% @group.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
<%= form_for @group, url: {action: @action_title} do |f| %>
	<p>
	<%= f.label(:title, t('group_title')) %>
	<%= f.text_field :title %>
	</p>
  <p>
  <%= f.label(:is_default, t('group_is_default')) %>
  <%= f.check_box :is_default %>
  </p>
	<%= f.submit(t('save_button'))%>
<% end %>