<h1><%= t('category_edit')+' "'+@category.title+'"'%></h1>
<%= render 'form_categories' %>
<hr style = "margin-top:40px;">
<h3><%= t('question_for')%></h3>

<% if (@category.question) %>
	<div class="tables">
	
	<table class="bordered">
	<tr>
		<th><%= t('_id')%></th><th><%= t('question')%></th><th><%= t('_image')%></th><th><%= t('correct_answer')%>
		</th><th><%= t('delete_question')%></th>
	</tr>
	<% @question.each do |question| %>
	  <tr><td><%= question.id%></td><td><%= question.question%><td><%= (question.image_file_name.nil?)? "-" : image_tag(question.image.url, :height => '100', :width => '100') %></td></td><td><%= question[question.correct_answer] %></td>
	  <td><%= link_to(t('_delete'), delete_question_path(question.id), data: { confirm: t('_repeat_delete') })%></td>
	  </tr>
	<% end %>
	</table>
	</div>
<% end %>
<%= will_paginate @question %>
<%= link_to(button_tag(t('_create'), class: 'go_back_prof'), add_question_path)%>
<%= link_to t('back'), :back, class: 'go_back_prof' %>

