<h1><%= t('category_index')%></h1>
<table>
  <tr>
    <th><%= t('_id')%></th>
    <th><%= t('_title')%></th>
    <th><%= t('_description')%></th>
    <th><%= t('_delete')%></th>
  </tr>
<% @categories.each do |category| %>
<tr>
      <td><%= category.id %></td>
      <td><%= link_to category.title, controller: :admin, action: :categories_edit, id: category.id %></td>
      <td><%= category.description %></td>
      <td><%= link_to(t('_delete'), delete_category_path(category.id))%></td>
</tr>
<% end %>
</table>
<%= will_paginate @categories %>
<%= link_to(button_tag(t('_create')), controller: :admin, action: :categories_create) %>