<div class="tables">
<h1><%= t('group_index')%></h1>
<p>
	<%= link_to(button_tag(t('group_create'), :class => 'go_back_prof_table'), create_group_path)%>
</p>
<table class="bordered">
  <tr>
    <th><%= t('group_index_id')%></th>
    <th><%= t('group_index_title')%></th>
  </tr>
<% @groups.each do |group| %>
<tr>
      <td><%= group.id %></td>
      <td><%= link_to group.title, controller: :admin, action: :groups_edit, id: group.id %></td>
</tr>
<% end %>
</table>

</div>
<%= will_paginate @groups %>