<div id="page_align">
	<div class="sep_top">
		<div class="close_img"><a href="#"><img src="images/close.png" alt="close"> </a></div>
	</div>
	<div class="sep_top1"></div>
<h1><%= t('registration')%></h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<%= form_for @user, url: {action:'registration'} do |f| %>
	<p class="login_n">
	<b><%= f.label(:username, t('username')) %></b>
	<%= f.text_field(:username, :class => "canvas") %>
	</p>
	<p class="login_n">
	<b><%= f.label(:email, t('email')) %></b>
	<%= f.email_field(:email, :class => "canvas") %>
	</p>
	<p class="login_n">
	<b><%= f.label(:password, t('pw')) %></b>
	<%= f.password_field(:password, :class => "canvas") %>
	</p>
	<p class="login_n">
	<b><%= f.label(:password_confirmation, t('r_pw')) %></b>
	<%= f.password_field(:password_confirmation, :class => "canvas") %>
	</p>
	<%= f.submit(t('register_submit'), :class => "reg_bot")%>
<% end %>
</div>