<!DOCTYPE html>
<html>
<head>
  <title><%= t('admin_title')%></title>
  <script src="./Just another dropdown menu concept demo - RedTeamDesign_files/prefixfree.min.js"></script>

  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="zoom: 1;background: url(/assets/BG.png);">
<ul class="menu cf">
			<li><a href="/crm/groups/"><%= t('_groups')%></a>
				<ul class="submenu">
					<li><a href="/crm/groups/create"><%= t('group_create')%></a></li>
				</ul>			
			</li>
			<li><a href="/crm/users/"><%= t('_users')%></a></li>
			
			<li><a href="/crm/categories/"><%= t('_categories')%></a>
				<ul class="submenu">
					<li><a href="/crm/categories/create"><%= t('category_create')%></a></li>
				</ul>	
			</li>
</ul>

<div id="page_align"><div class = "yield"><%= yield %></div></div>
<footer class = "footer_adminka">
	<p class="footer_text">Copyright by Hvoyniy</p>
</footer>
</body>
</html>
